$primary-color: #F91944;
$primary-deep: #d2032b;

.header {
    padding: 1.5% 6%;
    display: grid;
    grid-template-columns: 3fr 2fr;

    .logo-area {
        img {
            width: 25%;
        }
    }

    .nav-links {
        display: flex;
        justify-content: end;
        align-items: center;

        a {
            text-decoration: none;
            margin-left: 1.8em;
            color: #000;
            font-weight: 500;
            font-size: 18px;

            &:hover{
                color: $primary-color;
            }

            &:last-child {
                background-color: $primary-color;
                color: white;
                padding: 2% 4%;
                border-radius: 25px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                &:hover{
                    background-color: $primary-deep;
                }
            }
        }
    }
}