$primary-color: #F91944;
$primary-deep: #d2032b;

.header {
    padding: 1.1% 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    opacity: 0.98;
    z-index: 9;

    .logo-area {
        display: flex;
        justify-content: start;
        align-items: center;
        img {
            width: 20%;
            cursor: pointer;
        }
    }

    .nav-links {
        display: flex;
        justify-content: end;
        align-items: center;

        a {
            text-decoration: none;
            margin-left: 1.8em;
            color: #000;
            font-weight: 500;
            font-size: 18px;

            &:hover{
                color: $primary-color;
            }

            &:last-child {
                background-color: $primary-color;
                color: white;
                padding: 2% 4%;
                border-radius: 25px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                &:hover{
                    background-color: $primary-deep;
                }
            }
        }
    }
}