$primary-color: #F91944;
$primary-deep: #d2032b;

.track-order{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 3% 15%;

    .google-map{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 95%;
        }
    }

    .riders-info{
        background-color: #EFEEEC;
        border-radius: 12px;
        padding: 5% 8%;

        img{
            width: 35%;
            transform: translateX(8%);
            transition: 1.5s;

            &:hover{
                transform: translateX(175%);
            }
        }

        .location{
            background-color: #fff;
            border-radius: 12px;
            padding: 1.5rem;
            display: flex;
            align-items: center;

            .side-bar{
                color: $primary-color;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                margin-right: 1rem;

                .vertical-line{
                    content: " ";
                    background-color: $primary-color;
                    width: 0.4px;
                    height: 3.5rem;
                }
            }

            .your-location{
                margin-bottom: 2rem;
            }

            h3{
                font-weight: 400;
                font-size: 20px;
                margin: 0;

            }
            p{
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                color: rgb(68, 68, 68);
            }
        }    
        
        .time{
            margin: 1rem 0;
            display: flex;
            align-items: center;

            .clock-icon{
                color: $primary-color;
                font-size: 2.5rem;
                margin-right: 0.8rem;
            }
            h3{
                font-weight: 400;
                font-size: 24px;
                margin: 0;                
            }
            p{
                margin: 0;
                color: rgb(68, 68, 68);
                font-size: 12px;
            }
        }

        .delivery-partner{
            background-color: white;
            border-radius: 12px;
            padding: 1rem 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            
            img{
                width: 30%;

                &:hover{
                    transform: none;
                }
            }

            h3{
                font-weight: 400;
                font-size: 18px;
                margin: 0;
            }
            p{
                margin: 0;
                color: rgb(68, 68, 68);
                font-size: 12px;
            }
        }

        button{
            width: 100%;
            margin-top: 1.5rem;
            padding: 0.8rem 0;
            font-size: 16px;
            color: white;
            background-color: $primary-color;
            border: none;
            border-radius: 8px;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            cursor: pointer;

            &:hover{
                background-color: $primary-deep;
            }
        }
    }
}