$primary-color: #F91944;
$primary-deep: #d2032b;

.footer{
    background-color: #1e272e;
    padding: 2.5% 8%;

    .section-one{
        display: grid;
        grid-template-columns: 3fr 2fr;

        img{
            width: 30%;
            height: auto;
            flex-shrink: 0;
        }

        .essential-links{
            display: flex;
            justify-content: space-between;

            ul{
                margin-right: 0;

                li{
                    list-style: none;
    
                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: 500;
                        line-height: 2.8em;

                        &:hover{
                            color: $primary-color;
                        }
                    }
            } 
            }
        }
    }

    .section-two{
        margin-top: 4%;
        display: grid;
        grid-template-columns: 3fr 2fr;

        .copyright{
            color: lightgrey;
        }

        .links{
            ul{
                display: flex;
                justify-content: end;
                li{
                    list-style: none;
                    padding: 0 2.5%;
                    a{
                        text-decoration: none;
                        color: white;

                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}