.single-product {
    text-align: center;
    // font-family: 'Dosis', sans-serif;
    padding: 6%;
    margin: 0 10%;

    img {
        width: 40%;
    }

    &:hover {
        cursor: pointer;
        background-color: #fff;
        border-radius: 14px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}